





*{
  outline:none !important;
}
body
{
  margin:0;
  padding:0;
  outline:none;
  overflow-x:hidden ;
  font-family: Brandon Grotesque;
}
.wapper{
  position: relative;
  &:extend(.block);
}

// Core variables and mixins
@import "variables.less";
@import "mixins.less";



a
{
  color:#333;
  text-decoration:none

}
a:hover,a:focus
{
  text-decoration:none;
}
ul{
  margin:0;
  padding:0;
  list-style-type:none;
}
.collapse
{
  padding:0px;
}
.slider-area {
  bottom: 0;
  float: left;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0;
  width: 100%;
  z-index: 11;
  //transition: left 0.4s ease 0s,top 0.4s ease 0s;

}

header{
  position: fixed;
  width: 20%;
  z-index: 9999;
  .logo{
    background: #000 none repeat scroll 0 0;
    float: left;
    width: 135px;
    a{
      padding: 18px 24px;
      &:extend(.blockin);
    }
    img{
      width:100%;
    }
  }
  .nav-toggle{
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 0 30px rgba(29, 29, 29, 0.1);
    color: #f03454;
    cursor: pointer;
    display: inline-block;
    font-size: 24px;
    padding: 13px 22px;
  }
}
.slider-area-inner{
  position:relative;
  z-index: 11;
}
.nav-box {
  background: #121212 none repeat scroll 0 0;
  height: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 0;
  z-index:10;
  overflow: hidden;
  -webkit-transition: all 0.5s cubic-bezier(.55,.06,.68,.19) 0s;
  -moz-transition: all 0.5s cubic-bezier(.55,.06,.68,.19) 0s;
  -ms-transition: all 0.5s cubic-bezier(.55,.06,.68,.19) 0s;
  -o-transition: all 0.5s cubic-bezier(.55,.06,.68,.19) 0s;
  transition:all 0.5s cubic-bezier(.55,.06,.68,.19) 0s;
  &>img{
    opacity: 0.3;
    position: absolute;
  }
  span{
    background: transparent url("../images/close.png") no-repeat scroll center center;
    cursor: pointer;
    height: 100px;
    position: absolute;
    width: 100px;
  }
  &.show{
    height:100vh;
    width:500%;
  }
  .navbar-info{
    display: flex;
    height: 100%;
    margin: 0 auto;
    overflow: auto;
    max-width: 1400px;
    padding: 0 110px;
    width: 100%;
    &>div{
      align-self: center;
      display: none;
      width: 100%;
    }
    .nav-list{
      display: inline-block;
      padding: 14px 0;
      width: 100%;
      li{
        a{
          color: #fff;
          font-family: MajestiBanner-Medium;
          font-size: 56px;
          line-height: 1.1;
          position: relative;

          &:before{
            background: #f03454 none repeat scroll 0 0;
            content: "";
            height: 2px;
            left: -10px;
            position: absolute;
            top: 63%;
            width: 0;
            transition: all 0.3s cubic-bezier(.55,.06,.68,.19) 0s;
          }
          &:hover::before{
            width: 120%;
          }
        }
      }
    }
    .right-text{
      display: inline-block;
      margin-top: 50px;
      text-transform: uppercase;
      width: 100%;
      h4{
        color: #929292;
        font-size: 13px;
        margin: 28px 0;
      }
      a{
        color: #fff;
        display: inline-block;
        margin-bottom: 4px;
        width: 100%;
        &:extend(.transition);
        &:hover{
          margin-left: 4px;
        }
      }
    }
  }
}
.homeicon{
  color:Red;
  #home-icon {
    fill: #f03454;
    width: 28px;
    &:extend(.transition);
  }
  &:hover #home-icon{
    fill: #fff;
  }
}
.navimg{
  position: absolute;
  img{
    opacity: 0.2;
  }
}

.social-icons{
  bottom: 0;
  left: 0;
  padding: 12px 50px;
  position: absolute;
  text-align: right;
  width: 100%;

  a{
    color: #a0b4be;
    display: inline-block;
    font-size: 25px;
    text-align: center;
    width: 36px;

    &:hover{
      color:#fff;
    }
  }
}
.main-slider {
  height: 100%;
  overflow: hidden;
  width: 100%;
  background:#aaa;
  img
  {
    width:100%;
  }
  .bx-controls-direction,.bx-controls-auto
  {
    &:extend(.hide);
  }
  .bx-viewport {
    border: medium none;
    box-shadow: 0 0 0;
    left: 0;
  }
  .bx-pager {
    bottom: 0;
    display: table;
    left: auto;
    right: 0;
    top: 38%;
    width: 3% !important;
    position:relative;

    .bx-pager-item {
      border-radius: 20px;
      float: left;
      margin: 0 21px 18px;
      position: relative;
      a {
        border-radius: 20px;
        height: 6px;
        margin: 6px;
        width: 6px;
        background:#fff;
        &.active::before {
          border: 1px solid #fff;
          border-radius: 20px;
          bottom: 0;
          content: "";
          left: 0;
          position: absolute;
          right: 0;
          top: 0;
        }
        &:hover,.active
        {
          background: #fff none repeat scroll 0 0;
        }
      }
    }
  }
  .bx-wrapper .bx-viewport {
    background: #52504f none repeat scroll 0 0;
  }
}
.slider-area .bx-controls {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 4%;
  z-index: 9;
}


.contact-vdi {
  height: 100%;
  padding: 0;
  background: #000 none repeat scroll 0 0;
  video{
    height: auto !important;
    top: auto !important;
    opacity: 0.6;
  }
}
.portvdi{
  height: 100%;
  padding: 0;
  background: #000 none repeat scroll 0 0;
  video{
    height: auto !important;
    top:0 !important;
    opacity: 0.33;
  }
}

.indexvdi{
  background: #000 none repeat scroll 0 0;
  video{
    opacity: 0.5;
  }
}


.work-vdi {
  height: 100%;
  padding: 0;
  background: #000 none repeat scroll 0 0;
  video{
    height: auto !important;
    opacity: 0.23;
    top: auto !important;
  }
}



.video-text{
  color: #fff;
  font-size: 50px;
  font-weight: 400;
  line-height: 1.4;
  position: absolute;
  text-align: center;
  text-transform: capitalize;
  top: 35%;
  width: 100%;
}
.portfolio-slider {
  background: #9f9f9f;
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.bg-images{
  background: #9f9f9f url("../images/img/Bg-screnshot.jpg") repeat scroll -5px 0;
  position:absolute;
  height:100%;
  width:100%;
}


.bg-images img {
  background-color: #57585A;
  box-shadow: 0 0 7px #000;
  position: absolute;
  width: 700px;
  &:nth-child(1){
    z-index: 6;
    left: 1496px;
    top: -213px;
  }
  &:nth-child(2){
    z-index: 7;
    left: 975px;
    top: -270px;
  }
  &:nth-child(3){
    z-index: 8;
    left: 306px;
    top: -261px;
  }
  &:nth-child(4){
    z-index: 9;
    left: -353px;
    top: -270px;
  }
  &:nth-child(5){
    z-index: 10;
    left: 1161px;
    top: 292px;
  }
  &:nth-child(6){
    z-index: 11;
    left: 125px;
    top: 91px;
  }
  &:nth-child(7){
    z-index: 12;
    left: -226px;
    top: 591px;
  }
  &:nth-child(8){
    z-index: 13;
    left: 1403px;
    top: 792px;
  }
  &:nth-child(9){
    z-index: 14;
    left: 667px;
    top: 598px
  }
  &:nth-child(10){
    z-index: 15;
    left: 362px;
    top: -147px;
  }
}

.page-content{
  background: #fff none repeat scroll 0 0;
  padding: 30px 0;
  position: relative;
  z-index: 1;
  &:extend(.block);

  .we-build{
    &:extend(.blockin);
    margin-left: -10%;
    margin-top: 80px;
    text-align: center;
    width: 120%;

    .anim-sprt{
      background: transparent url("../images/sprt.jpg") no-repeat scroll center center;
      height: 730px;
      left: 50%;
      margin-left: -50px;
      position: absolute;
      text-align: center;
      width: 100px;
      .cont
      {
        color:blue;
      }
      .line{
        color:red;
      }
    }
    h3{
      font-size: 33px;
      font-weight: 400;
      margin-top: 35px;
      text-transform: capitalize;
    }
    p{
      display: table;
      font-size: 22px;
      margin: 14px auto 24px;
      max-width: 1150px;
    }
    a{
      &:extend(.bg-black .srv-info a all);
      color: #cc1030;
    }
    .build-info{
      padding: 0 60px;
      text-align: center;
      &.left{
        float:left;
      }
      &.right{
        float:right;
      }
      img{
        width: 480px;
      }

    }
  }
}
.head2{
  font-size: 34px;
  font-weight: 400;
  line-height: 1.4;
  text-align: center;
  text-transform: capitalize;
}
.technologies{
  background: transparent url("../images/technologies-big.svg") no-repeat scroll center 0;
  height: 2270px;
  margin-top: 70px;
  position: relative;
  .technologies-info{
    position: absolute;
    width: 48%;
    &:nth-child(n){
      right: 0;
      top: 420px;
    }
    &:nth-child(2n){
      right: 560px;
      top: 1010px;
    }
    &:nth-child(3n){
      right: 0;
      top: 1510px;
    }
    h4{
      font-size: 38px;
      font-weight: 400;
      margin-bottom: 15px;
    }
    p{
      font-size: 20px;
    }
  }
  &.technologies1{
    background: transparent url("../images/integrations-big.svg") no-repeat scroll right 0;
    height: 630px;
    .technologies-info1{
      left: 0;
      top: 53px;
      width: 55%;
    }
  }
}

.detailed-info{
  background: #f4f4f4 none repeat scroll 0 0;
  clear: both;
  overflow: visible;
  padding: 21px 0;
  position: relative;
  z-index: 4;
  &:before{
    border-color: #f4f4f4 transparent;
    border-style: solid;
    border-width: 24px 32px 0;
    content: "";
    left: 50%;
    margin-left: -32px;
    position: absolute;
    top: 100%;
  }
  p{
    font-size: 22px;
    margin: 17px 0;
    text-align: center;
  }
}
.portfolio{
  display: table;
  margin: 0 auto;
  max-width: 1500px;
  .head2{
    margin-bottom:40px;
  }
  .portfolio-item{
    float: left;
    padding: 3px;
    &.small-width{
      width: 25%;
    }
    &.large-with{
      width: 50%;
    }
    .portfolio-item-content{
      background: #ebebeb none repeat scroll 0 0;
      height: 320px;
      overflow: hidden;
      position: relative;
      &::before{
        background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0;
        content: "";
        height: 100%;
        position: absolute;
        width: 100%;
        z-index: 1;
        &:extend(.transition);
      }
      img{
        width:100%;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        &:extend(.transition);
      }
      &:hover img{
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
      }
      &:hover::before{
        background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
      }
    }
    .abs-box{
      bottom: 0;
      padding: 17px;
      position: absolute;
      width: 100%;
      z-index: 2;
      h3{
        color: #fff;
        font-size: 24px;
        font-weight: 500;
        margin: 0 0 5px;
      }
      span{
        color: #f3f3f3;
        display: inline-block;
        font-size: 17px;
        font-weight: 500;
        margin-bottom: 5px;
        width: 100%;
      }
      a{
        background: #f03454 none repeat scroll 0 0;
        bottom: 10px;
        color: #fff;
        font-size: 14px;
        padding: 5px 11px;
        position: absolute;
        right: -180px;
        &:extend(.transition);
        &:hover{
          background: #CE1232 none repeat scroll 0 0;
        }
        i{
          font-size: 16px;
          margin-left: 5px;
          transform: translate(0px, 2px);
        }
      }
    }
    &:hover a{
      right: 10px;
    }
  }
}



.work-flow {
  background: #1c1b20 none no-repeat scroll 0 0 / cover ;
  clear: both;
  padding: 70px 14px;
  position: relative;
  text-align: center;
  z-index: 1;
  img{
    width: 100px;
  }
  h4{
    color: #fff;
    font-size: 25px;
    margin: 35px 0 30px;
  }
  p{
    color: #fff;
    display: table;
    font-size: 23px;
    margin: 0 auto 29px;
    max-width: 839px;
  }
  a{
    background: #f03454 none repeat scroll 0 0;
    border-radius: 50px;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    margin-top: 15px;
    padding: 12px 57px;
    &:extend(.transition);
    &:hover{
      background: #cc1030;
    }
  }
  svg{
    height: 70px;
    width: 100px;
  }
}

.contact-info{
  display: inline-block;
  padding: 30px 0;
  text-align: center;
  width: 100%;
  img{
    width: 100px;
  }
  span{
    color: #f03454;
    display: inline-block;
    font-weight: 600;
    margin: 20px 0 0;
    width: 100%;
  }
  h3{
    font-size: 42px;
    font-weight: 500;
    margin: 18px 0 24px;
  }
  h4{
    color: #f03454;
    font-size: 27px;
    margin: 0 0 20px;
  }
  p{
    font-family: arial;
    font-size: 19px;
    line-height: 1.6;
  }
}

.contact-form{
  background: #f4f4f4 none repeat scroll 0 0;
  input[type="text"],input[type="email"],select{
    border: 2px solid #cacaca;
    border-radius: 0;
    box-shadow: 0 0 0;
    height: 44px;
  }
  label{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 12px;
  }
  textarea{
    border: 2px solid #cacaca;
    border-radius: 0;
    box-shadow: 0 0 0;
    height: 170px;
  }
  .form-group {
    margin-bottom: 45px;
  }
  span{
    display: inline-block;
    font-size: 19px;
    font-weight: 500;
    margin-top: 5px;
  }
  .checkbox{
    label{
      font-size: 17px;
      margin-bottom: 11px;
      width: 100%;
    }
  }
  select{
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    background: #fff url("../images/down.png") no-repeat scroll right center content-box border-box;
    font-weight: bold;
    padding-right: 9px;
  }
  button{
    &:extend(.bg-black .srv-info a all);
    margin-top: 0px;
    border:none;
    &:hover{
      color:#fff;
    }
  }
}
.portfolio-list{
  border: 1px solid #dadada;
  &:extend(.block);

  .portlist-item{
    background: transparent none repeat scroll 0 0;
    border-bottom: 1px solid #dadada;
    display: none;
    float: left;
    overflow: hidden;
    padding: 15px 0;
    width: 100%;
    p{
      font-family: arial;
      font-size: 17px;
      margin: 0;
      padding: 8px 20px;
      position: relative;
      text-transform: capitalize;
      span{
        position: absolute;
        right: 210px;
      }
      a{
        background: #f03454 none repeat scroll 0 0;
        border-radius: 2px;
        color: #fff;
        display: inline;
        float: right;
        margin-top: -5px;
        padding: 6px 20px
      }
    }
  }
}
#filters{
  margin: 0 0 30px;
  text-align: center;
  li{
    display: inline-block;
    float: none;
    font-family: arial;
    font-size: 15px;
    font-weight: bold;
    span.active{
      background:#f03454;
    }
  }
}
.h2{
  font-size: 34px;
  font-weight: 500;
  margin-bottom: 28px;
  text-align: center;
}

//subpage css code

.page-header-info{
  display: flex;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}
.full-wind{
  width:100%;
  padding:0 50px;
}
.page-header-content{
  align-self: center;
  margin: 0 auto;
  h2{
    color: #fff;
    font-size: 50px;
    font-weight: 300;
    margin: 0 0 50px;
    text-align: center;
    text-transform: uppercase;
    b{
      display: inline-block;
      font-size: 1.1em;
      font-weight: 400;
      margin: 8px 0;
    }
  }
  .head-3{
    color: #fff;
    font-size: 63px;
    font-weight: 500;
    margin: 0;
  }
  span{
    color: #fff;
    font-size: 54px;
    font-weight: 400;
    line-height: 1.1;
  }
  p{
    color: #c5c5c5;
    font-size: 37px;
  }
  ul{
    display: inline-block;
    li{
      color: #fff;
      display: inline-block;
      min-width: 400px;
      padding: 20px 40px;
      text-align: center;
      span{
        font-size: 70px;
        font-weight: 500;
        line-height: 1;
      }
      p{
        color: #cccccc;
        font-size: 21px;
        font-weight: 400;
        text-transform: uppercase;
      }
    }
  }
}

.about-content{
  display: inline-block;
  margin: 0;
  text-align: center;
  h3{
    font-size: 32px;
    margin-bottom: 16px;
    text-align: center;
  }
  p{
    color: #6c6c6c;
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 23px;
  }

  img
  {
    max-width:100%;
    margin:60px auto 0;
  }
}
.about-services{
  &:extend(.block);
  padding: 17px 0;
  li{
    color: #ffffff;
    float: left;
    font-size: 20px;
    margin-bottom: 8px;
    padding-left: 21px;
    position: relative;
    width: 33.33%;
    &:before{
      background: #f03454 none repeat scroll 0 0;
      content: "";
      height: 8px;
      left: 0;
      position: absolute;
      top: 9px;
      transform: rotate(45deg);
      width: 8px;
    }
  }
}
.black-box {
  background: #4d4d4f none repeat scroll 0 0;
}
.port-slide-box{
  &:extend(.blockin);
  h2{
    color: #f03454;
    font-size: 40px;
    margin-bottom: 32px;
  }
  .port-slider{
    padding: 40px 0;
    &:extend(.blockin);
    .port-slide-item{
      &:extend(.blockin);
      max-width: 1500px;
      padding: 12px 0 30px;
      .info{
        padding: 10px 0;
        text-align: left;
        h3{
          font-size: 35px;
          margin-top: 60px;
        }
        p{
          font-size: 21px;
          font-weight: 500;
        }
      }
      .img{
        img{
          width: 100%;
        }
      }
    }
    .bx-controls .bx-controls-direction a{
      height: 90px;
      margin-top: -80px;
      width: 73px;
      &.bx-prev{
        background:#363B41 url("../images/left.png") no-repeat scroll 14px center / 38px auto;
        border-radius: 0 8px 8px 0;
        left: 0;
      }
      &.bx-next{
        background:#363B41 url("../images/right.png") no-repeat scroll 18px center / 38px auto;
        border-radius: 8px 0 0 8px;
        right:0;
      }
    }
  }
}






.why-choose{
  background: #5a5a5a url("../images/why-choose.jpg") no-repeat scroll 0 0 / cover ;
  clear: both;
  padding: 40px 0;
  position: relative;
  text-align: center;
  z-index: 1;
  span{
    color: #DB3B56;
    font-size: 22px;
  }
  h2{
    color: #fff;
    font-size: 50px;
    font-weight: 400;
    margin: 10px 0 30px;
  }
  img{
    display: inline-block;
    margin: 20px 0 5px;
    width: 72px;
  }
  h4{
    color: #fff;
    font-size: 30px;
    font-weight: 400;
  }
  p{
    color: #fff;
    font-size: 16px;
    margin: 20px auto 30px;
    max-width: 660px;
  }
}


.why-choose .bx-wrapper .bx-pager {
  bottom: -60px;
  text-align: center !important;
  width: 100% !important;
}

.why-choose .bx-wrapper .bx-pager a {
  border: 1px solid #aaa;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  margin: 0 10px;
  &:extend(.transition);
  padding: 6px 15px;
  &:hover{
    background-color: rgba(44, 189, 228, 0.2);
  }
}

.why-choose .bx-wrapper .bx-pager a:hover,
.why-choose .bx-wrapper .bx-pager a.active {
  background: rgba(240, 52, 84, 0.6) none repeat scroll 0 0;
}

.why-choose .bx-wrapper {
  margin-bottom: 120px;
}



.our-clients{
  background: #fff none repeat scroll 0 0;
  clear: both;
  padding: 30px 0;
  position: relative;
  text-align: center;
  z-index: 1;
  h2{
    font-size: 45px;
    font-weight: 500;
  }
  p{
    font-size: 22px;
  }
  ul{
    display: inline-block;
    margin: 30px 0;
    width: 100%;
    li{
      float: left;
      padding: 13px;
      width: 20%;
      img{
        max-width: 100%;
      }
    }
  }
}

.services-list{
  float: left;
  margin: 0 -12px;
  .services-item{
    border: 12px solid #fff;
    float: left;
    overflow: hidden;
    position: relative;
    width: 33%;

    &:before{
      background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
      bottom: 0;
      content: "";
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 2;
    }
    img{
      width:100%;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform:  scale(1);
      transform: scale(1);
      &:extend(.transition);
    }
    &:hover img{
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform:  scale(1.1);
      transform: scale(1.1);
    }
    span{
      color: #fff;
      font-size: 36px;
      left: 0;
      position: absolute;
      right: 0;
      text-align: center;
      top: 50px;
      z-index: 3;
    }
    a{
      &:extend(.portfolio .portfolio-item .abs-box a);
      z-index: 9;
      i{
        font-size: 17px;
        margin-left: 6px;
        transform: translate(0px, 2px);
      }
    }
    &:hover a{
      right:10px;
    }
    & a:hover{
      background:#D31737;
    }
  }
}
.gray-box{
  background: #eeebeb none repeat scroll 0 0;
  clear: both;
  padding: 20px 0;
  position: relative;
  text-align: center;
  z-index: 1;
}
.blk-hd{
  font-family: Avenir LT Std,arial;
  font-size: 40px;
}
.simple-pg{
  color: #000000;
  font-family: Avenir LT Std,arial;
  font-size: 22px;
  margin: 15px auto;
  max-width: 880px;
}
.ser-detail-item{
  background: #f2f2f2 none repeat scroll center center / cover;
  overflow: hidden;
  position: relative;
   img{
     display:none;
   }
  .ser-info-box{
    height: 590px;
    padding: 130px 0 100px 10%;
    position: relative;
    width: 50%;
    &.left{
      margin-left: 0;
    }
    &.right{
      margin-left: 50%;
    }

    span{
      color: #999999;
      font-size: 18px;
      font-weight: 600;
      line-height: 28px;
      text-transform: uppercase;
    }
    h3{
      color: #2066ab;
      font-size: 33px;
      font-weight: 500;
      letter-spacing: normal;
      line-height: 44px;
      margin: 0 0 20px;
    }
    p{
      color: #0f0f0f;
      font-size: 22px;
    }
    &.color-b1{
      span{
        color: #999999;
      }
      h3{
        color: #c9c92d;
      }
      p{
        color: #fff;
      }
    }
    &.color-b2{
      span{
        color: #A9A9A9;
      }
      h3{
        color: #C92127;
      }
      p{
        color: #0f0f0f;
      }
    }
    &.color-b3{
      span{
        color: #8A8B8F;
      }
      h3{
        color: #C9C92D;
      }
      p{
        color: #fff;
      }
    }
    &.color-b4{
      span{
        color: #AAAAAA;
      }
      h3{
        color: #C7187D;
      }
      p{
        color: #0f0f0f;
      }
    }
    &.color-b5{
      span{
        color: #A8A6A4;
      }
      h3{
        color: #76AC32;
      }
      p{
        color: #fff;
      }
    }
  }
}
.casestudies{
  padding: 60px 0;
  position: relative;
  text-align: center;
  z-index: 7;

  p{
    color: #808080;
    font-family: arial;
    font-size: 26px;
    margin: 0 auto 40px;
    max-width: 750px;
  }
  a{
    border: 2px solid;
    color: #f03454;
    font-size: 17px;
    font-weight: 700;
    padding: 10px 25px;
    text-transform: uppercase;
    &:extend(.transition);
    &:hover{
      color:#fff;
      -webkit-box-shadow:165px 0 0 #f03454 inset;
      -moz-box-shadow:165px 0 0 #f03454 inset;
      box-shadow:165px 0 0 #f03454 inset;
      border: 2px solid;

    }
  }
}
.cs-topbox{
  height: 100%;
  padding-left: 50px;
  padding-top: 128px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  img{
    bottom: 20px;
    left: 50%;
    margin-left: -27%;
    position: absolute;
    width: 62%;
    &.ft-logo{
      margin: 0 0 27px;
      position: unset;
      width: initial;
    }
  }
  .links{
    padding: 15px 0;
    a{
      border-right: 2px solid;
      color: #fff;
      display: inline-block;
      font-size: 34px;
      line-height: 0.9;
      margin-right: -4px;
      padding: 0 30px;
      &:hover{
        color:#fff;
      }
      &:last-child{
        border:none;
      }
    }
  }
}

.cs-info{
  background: #fff none repeat scroll 0 0;
  display: inline-block;
  margin: 20px 0;
  padding:0 20px;
  text-align: center;
  width: 100%;
    h3{
      color: #131313;
      font-size: 48px;
      font-weight: 500;
      margin-bottom: 22px;
    }
    p{
      color: #353030;
      font-family: Avenir LT Std;
      font-size: 18px;
      margin-bottom: 20px;
    }
    h4{
      color: #a4440f;
      font-size: 30px;
    }
    span{
      color: #383635;
      display: inline-block;
      font-size: 20px;
      font-weight: 600;
      margin: 11px 0;
    }
    h6{
      font-size: 33px;
      font-weight: 400;
      margin-bottom: 0;
      margin-top: 38px;
    }
}


.line-svg{
  height: 100%;
  left: 50%;
  margin-left: -600px;
  max-width: 1200px;
  overflow: visible !important;
  position: absolute;
  top: 0;
  width: 100%;
}

.padding40{
  padding:50px 0;
}
.donw-page{
  background: transparent url("../images/mouse.png") no-repeat scroll 0 0 / cover ;
  border-radius: 28px;
  bottom: 13px;
  cursor: pointer;
  height: 51px;
  left: 50%;
  margin-left: -25px;
  position: absolute;
  width: 38px;
}

.marking{
  &:extend(.block);
  background:#eaeced;
  position: relative;
  z-index: 1;
  .marking-itme{
    border-bottom: 1px solid #e2e2e2;
    display: inline-block;
    padding: 60px 0;
    width: 100%;
    .text-box{
      h3{
        color: #202020;
        font-size: 38px;
        font-weight: 600;
        margin: 0 0 2px;
        text-transform: uppercase;
      }
      span{
        display: inline-block;
        font-size: 24px;
        font-weight: 500;
        text-transform: capitalize;
      }
      p{
        color: #7c7c7c;
        font-size: 19px;
        line-height: 1.4;
        margin: 15px 0;
      }
    }
    .img-box{
     &:extend(.block);
      padding:10px 0;
      text-align: center;
      width:100%;
    }
  }
}

.about-svg{
  display: table;
  margin:50px auto 0;
  max-width: 550px;
  svg{
    width:100%;
    height:100%;
  }
}


.img-box svg {
  width:100%;
  height:100%;
}




footer{
  background: #fff none repeat scroll 0 0;
  bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 0;
  .footer{
    float: left;
    padding: 40px 0 60px;
    width: 100%;
    h3{
      font-size: 42px;
      font-weight: 600;
      line-height: 1;
      margin: 8px 0;
      text-transform: uppercase;
      small{
        display: inline-block;
        font-size: 27px;
        line-height: 1.3;
        margin-top: 13px;
        width: 100%;
      }
    }
    h4{
      border-bottom: 1px solid #aaa;
      font-size: 17px;
      padding-bottom: 10px;
    }
    p{
      font-size: 15px;
      margin: 2px 0;
      color:#898989;
    }
    ul{
      li{
        a,span{
          display: inline-block;
          font-size: 15px;
          color:#898989;
          margin-bottom: 0;
          text-transform: capitalize;
          &:hover{
            color:#333;
          }
        }
        span{
          margin-top: 3px;
        }
      }
    }
  }
}
.project-pages{
  margin: 0 auto;
  max-width: 1500px;
  padding: 0 15px;
  .Project-page-pic{
    &:extend(.block);
    img{
      width: 100%;
    }
  }
  .Project-page-info{
    padding-top: 40px;
    &:extend(.block);
    h3{
      font-size: 38px;
      line-height: 1.2;
    }
    p{
      color: #828282;
      font-size: 22px;
    }
    ul{
      li{
        color: #000000;
        font-size: 20px;
        margin-bottom: 6px;
        padding-left: 25px;
        position: relative;
        cursor: pointer;
        &:before{
          background: #00BEE3 none repeat scroll 0 0;
          content: "";
          left: 3px;
          padding: 5px;
          position: absolute;
          top: 9px;
          transform: rotate(45deg);
          &:extend(.transition);
        }
        &:hover:before{
          background: #000 none repeat scroll 0 0;
        }
      }
    }
  }
}

.serv-page{
  display: table;
  margin: -60px auto;
  max-width: 1920px;
  width: 100%;
  .serv-item{
    border-bottom: 2px solid #e9e9e9;
    display: flex;
    padding: 20px 0;
    &:last-child{
      border-bottom:0 none;
    }
    &:nth-child(2n){
     .serv-item-info{
       div{
         max-width: 590px;
         width: 100%;
         float:right;
       }
     }
      .serv-item-img{
        img{
          position: absolute;
          left: 60px;
          right:inherit;
        }
      }
    }
    &:extend(.block);
    .serv-item-img{
      align-self: center;
      float: left;
      height: 630px;
      padding: 0;
      position: relative;
      width: 50%;
      img{
        position: absolute;
        right: 60px;
      }
    }
    .serv-item-info{
      align-self: center;
      float: left;
      padding: 0 30px;
      width: 50%;
      div{
        max-width: 590px;
        width: 100%;
        float:left;
        h3{
          color: #202020;
          font-size: 43px;
          font-weight: 500;
          margin: 0 0 6px;
          text-transform: uppercase;
         b{
           font-weight: 600;
         }
        }
        p{
          color: #7c7c7c;
          font-family: arial;
          font-size: 18px;
          line-height: 1.6;
          margin: 15px 0;
        }
      }
    }
  }
}


.padding0{
  padding:0;
}

.careers{
  position:relative;
  .careers-head{
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #dfdfdf;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 10;
    span{
      display: inline-block;
      font-size: 23px;
      font-weight: 500;
      padding: 12px 42px;
      cursor: pointer;
      &.active{
        box-shadow: 0 -1px 0 #f03454 inset;
      }
    }
  }
  .careers-body{
    padding-top: 100px;
    &:extend(.block);
    .careers-body-item{
      border-bottom: 1px solid #d1f1f1;
      min-height: 600px;
      padding: 40px 0;
      .benefits-item{
        margin-bottom: 14px;
        padding: 14px 20px 14px 73px;
        position: relative;
        img{
          left: 0;
          position: absolute;
          width: initial;
        }
        h4{
          color: #505050;
          font-size: 25px;
          font-weight: 600;
        }
        p{
          font-size: 16px;
        }
      }
      h3.left-h3l{
        color: #000;
        font-size: 36px;
        font-weight: 500;
      }
      p{
        color: #6b6b6b;
        font-family: arial;
        font-size: 16px;
        line-height: 1.7;
        margin-bottom: 25px;
        b{
          color:#333;
        }
      }
      img{
        width:100%;
      }
    }
  }
}
.openings{
  position: relative;
  &:extend(.block);
  .open-left{
    float: left;
    padding: 14px;
    width: 28%;
    a{
      border-bottom: 1px solid #e7e7e7;
      cursor: pointer;
      display: inline-block;
      font-family: arial;
      font-size: 17px;
      padding: 11px 0;
      text-align: right;
      width: 100%;
      &:extend(.transition);
      &:hover,&.active{
        color:#CF1333;
      }
    }
  }
  .open-right{
    float: left;
    padding: 15px;
    position: relative;
    width: 72%;
    &>div{
      display:none;
    }
    img{
      color:red;
    }
    .apply{
      background: #e7e7e7 none repeat scroll 0 0;
      bottom: 0;
      padding: 30px 20px;
      position: absolute;
      right: 0;
      text-align: center;
      width: 370px;
      h4{
        font-size: 25px;
        font-weight: 700;
      }
      p{
        font-size: 15px;
        line-height: 1.4;
        margin-bottom: 12px;
      }
      a{
        background: #f03454 none repeat scroll 0 0;
        color: #fff;
        display: inline-block;
        font-size: 18px;
        font-weight: 500;
        margin: 5px auto 0;
        padding: 5px 36px;
        &:extend(.transition);
        &:hover{
          background:#CF1333;
        }
      }
    }
  }
}



.bg-black{
  background: #323232 none repeat scroll 0 0;
  .srv-img{
    &:extend(.block);
    padding:60px 0;
    img{
      max-width: 100%;
    }
  }
  .srv-info{
    padding: 94px 0;
    h3{
      font-weight: 600;
      color: #fff;
      font-size: 35px;
      margin: 0 0 20px;
    }
    p{
      color: #bfbfbf;
      font-size: 20px;
    }
    ul{
      margin: 20px 0;
      &:extend(.blockin);
      li{
        color: #fff;
        line-height: 2.0;
        font-size: 18px;
        padding-left: 28px;
        position: relative;
        &:before{
          background: #f03454 none repeat scroll 0 0;
          content: "";
          height: 8px;
          left: 4px;
          position: absolute;
          top: 14px;
          width: 8px;
          transform: rotate(45deg);
        }
      }
    }
    a{
      background: #000;
      padding: 12px 39px;
      display: inline-block;
      text-transform: uppercase;
      color: #fff;
      &:extend(.transition);
      &:hover{
        -webkit-box-shadow: 170px 0 0 #f03454 inset;
        -moz-box-shadow: 170px 0 0 #f03454 inset;
        box-shadow: 170px 0 0 #f03454 inset;
      }
    }
  }
}
.seo-work-process{
  padding:60px 0 10px;
  .work-info{
    text-align: center;
    padding: 10px 0;
    margin-bottom: 50px;
    h3{
      margin: 0 0 13px;
      font-weight: 500;
      font-size: 36px;
      color: #000;
    }
    p{
      font-size: 23px;
      max-width: 80%;
      margin: 0 auto;
      color: #707070;
    }
  }

  .work-list{
    margin: 0 -15px;
    padding: 24px 0;
    text-align: center;
    display: table;
    .work-list-item{
      float: left;
      width: 23%;
      padding: 0 15px;
      &:nth-child(3n){
        width: 31%;
        transform: translate(0 ,-33px);
        .img-box{
          max-width: 280px;
        }

      }
      .img-box{
        border-radius: 50%;
        width: 100%;
        padding: 9px;
        max-width: 210px;
        margin: 0 auto 28px;
        border: 1px solid #e1e1e1;
        img{
          width:100%;
        }
      }
      h4{
        font-size: 24px;
        margin-bottom: 13px;
      }
      p{
        font-size: 18px;
        line-height: 1.3;
        color: #707070;
      }
    }
  }
}





















@media (min-width: 0px) {

}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .nav-box .navbar-info > div {
    align-self: baseline;
  }

}
@media only screen and (min-width: 0px) and (max-width: 480px) {

}
@media (min-width: 768px) {
  .page-header-content ul {
    display: none;
  }
  .page-header-content ul li {
    min-width: 300px;
  }
  .page-header-content ul li p {
    font-size: 17px;
  }
  .page-header-content ul li span {
    font-size: 58px;
  }
  .page-header-content h2 {
    font-size: 36px;
    margin: 0 0 20px;
  }
  header .logo {
    width: 100px;
  }

  header .nav-toggle {
    padding: 5px 16px;
  }
  header .logo a {
    padding: 12px 17px;
  }
  .about-content p {
    font-size: 18px;
  }
  .our-clients h2 {
    font-size: 36px;
  }
  .about-content h3 {
    font-size: 28px;
  }
  .why-choose h2 {
    font-size: 42px;
  }
  .why-choose .bx-wrapper {
    margin-bottom: 80px;
  }
  .our-clients ul li {
    width: 25%;
  }
  .nav-box .navbar-info > div {
    align-self: baseline;
  }
}
@media (min-width: 992px) {
  .page-header-content ul {
    display: inline-block;
  }
  .our-clients ul li {
    width: 20%;
  }
  header .nav-toggle {
    padding: 10px 20px;
  }
  header .logo {
    width: 120px;
  }
  header .logo a {
    padding: 16px 24px 17px;
  }
  .nav-box .navbar-info > div {
    align-self: center;
  }
}
@media (min-width: 1280px) {
  .nav-box .navbar-info .nav-list li a {
    font-size: 50px;
    margin: 0 0 50px;
  }
  .page-header-content h2 {
    font-size: 40px;
  }
  .page-header-content ul li span {
    font-size: 60px;
  }
  .page-header-content ul li {
    min-width: 400px;
  }
  .page-header-content ul li p {
    font-size: 21px;
  }
  header .logo {
    width: 135px;
  }
  header .nav-toggle {
    padding: 13px 22px;
  }
  header .logo a {
    padding: 18px 24px;
  }
  .about-content h3 {
    font-size: 32px;
  }
  .why-choose h2 {
    font-size: 50px;
  }
  .why-choose .bx-wrapper {
    margin-bottom: 120px;
  }
}
@media (min-width: 1500px) {
  .nav-box .navbar-info .nav-list li a {
    font-size: 56px;
  }
  .page-header-content h2 {
    font-size: 50px;
  }
  .page-header-content ul li span {
    font-size: 70px;
  }
  .about-content p {
    font-size: 21px;
  }
  .our-clients h2 {
    font-size: 45px;
  }
}




