





*{
  outline:none !important;
}
body
{
  margin:0;
  padding:0;
  outline:none;
  overflow-x:hidden ;
  font-family: Brandon Grotesque;
}


// Core variables and mixins
@import "variables.less";
@import "mixins.less";


a
{
  color:#333;
  text-decoration:none

}
a:hover,a:focus
{
  text-decoration:none;
}
ul{
  margin:0;
  padding:0;
  list-style-type:none;
}
.collapse
{
  padding:0px;
}
.slider-area {
  bottom: 0;
  float: left;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  transition: left 0.4s ease 0s,top 0.4s ease 0s;

}
header{
  padding: 50px;
  position: fixed;
  width: 100%;
  z-index: 9999;
  &:extend(.transition);
  &.colored{
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    padding: 14px 50px;
  }
  .logo{
    width: 145px;
    float:left;
    img{
      width:100%;
    }
  }
  .btn-nav {
    background-color: #fff;
    color: #fff;
    cursor: pointer;
    float: right;
    font-size: 0.875em;
    height: 40px;
    position: relative;
    text-transform: uppercase;
    width: 44px;
    &::before {
      color: #fff;
      content: "MENU";
      font-size: 22px;
      font-weight: 500;
      position: absolute;
      right: 130%;
      top: 7px;
    }
    span {
      background: #00799B none repeat scroll 0 0;
      height: 2px;
      position: absolute;
      right: 9px;
      top: 19px;
      transition: all 200ms ease 0s;
      width: 26px;
      z-index: 2;
      &::before, &::after {
        background: #00799B none repeat scroll 0 0;
        content: "";
        height: 2px;
        left: 0;
        position: absolute;
        transition: all 200ms ease 0s;
        width: 100%;
      }
      &::before {
        top: -7px;
      }
      &::after {
        top: 7px;
      }
    }
    &.active{
      span{
        background: transparent none repeat scroll 0 0;
        transform: rotate(90deg);
        &::before{
          top: 0;
          transform: rotate(-45deg);
          transition-delay: 300ms;
        }
        &:after{
          top: 0;
          transform: rotate(45deg);
          transition-delay: 300ms;
        }
      }
    }
  }
}
.menu-bar{
  background: #2e2e2e none repeat scroll 0 0;
  height: 100%;
  padding-top: 130px;
  position: fixed;
  right: -400px;
  transition: all 0.3s ease 0s;
  width: 400px;
  z-index: 999;
  &.active1{
   right:0;
  }
  ul{
    margin: 11px 0;
    padding: 0 37px;
    &:extend(block);
    li{
      text-align: right;
      &:extend(block);
      a{
        color: #8b8b8b;
        display: inline-block;
        font-size: 35px;
        font-weight: 500;
        margin-bottom: 6px;
        text-transform: uppercase;
        position: relative;
        .nav-link-mask {
          display: inline-block;
          height: 100%;
          left: 0;
          overflow: hidden;
          position: absolute;
          top: 0;
          transform: translate3d(-100%, 0px, 0px);
          transition: transform 0.4s cubic-bezier(0.19, 1, 0.22, 1) 0s;
          width: 100%;
          .nav-link-mask-text {
            color: #ddd;
            left: 0;
            position: absolute;
            top: 0;
            transform: translate3d(100%, 0px, 0px);
            transition: transform 0.4s cubic-bezier(0.19, 1, 0.22, 1) 0s;
          }
        }
        &:hover .nav-link-mask,
        &:focus .nav-link-mask {
          transform: translate3d(0px, 0px, 0px);
        }
        &:hover .nav-link-mask-text,
        &:focus .nav-link-mask-text {
          transform: translate3d(0px, 0px, 0px);
        }
      }
      &.active{
        border-bottom: 1px solid #666666;
        margin-bottom: 11px;
      }
      &.active a .nav-link-mask,
      &.active a .nav-link-mask-text{
        transform: translate3d(0px, 0px, 0px);
      }

    }
  }
}
.social-icons{
  background: #282828 none repeat scroll 0 0;
  margin-top: 27px;
  padding: 15px 40px;
  text-align: right;
  span{
    color: #fff;
    font-size: 17px;
    margin-right: 9px;
  }
  a{
    color: #fff;
    font-size: 20px;
    margin: 0 3px;
  }
}
.main-slider {
  height: 100%;
  overflow: hidden;
  width: 100%;
  background:#aaa;
  img
  {
    width:100%;
  }
  .bx-controls-direction,.bx-controls-auto
  {
    &:extend(.hide);
  }
  .bx-viewport {
    border: medium none;
    box-shadow: 0 0 0;
    left: 0;
  }
  .bx-pager {
    bottom: 0;
    display: table;
    left: auto;
    right: 0;
    top: 38%;
    width: 3% !important;
    position:relative;

    .bx-pager-item {
      border-radius: 20px;
      float: left;
      margin: 0 21px 18px;
      position: relative;
      a {
        border-radius: 20px;
        height: 6px;
        margin: 6px;
        width: 6px;
        background:#fff;
        &.active::before {
          border: 1px solid #fff;
          border-radius: 20px;
          bottom: 0;
          content: "";
          left: 0;
          position: absolute;
          right: 0;
          top: 0;
        }
        &:hover,.active
        {
          background: #fff none repeat scroll 0 0;
        }
      }
    }
  }
  .bx-wrapper .bx-viewport {
    background: #52504f none repeat scroll 0 0;
  }
}
.slider-area .bx-controls {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 4%;
  z-index: 9;
}


.portfolio-slider {
  background: #9f9f9f;
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.bg-images{
  background: #9f9f9f url("../images/img/Bg-screnshot.jpg") repeat scroll -5px 0;
  position:absolute;
  height:100%;
  width:100%;
}


.bg-images img {
  background-color: #57585A;
  box-shadow: 0 0 7px #000;
  position: absolute;
  width: 700px;
  &:nth-child(1){
    z-index: 6;
    left: 1496px;
    top: -213px;
  }
  &:nth-child(2){
    z-index: 7;
    left: 975px;
    top: -270px;
  }
  &:nth-child(3){
    z-index: 8;
    left: 306px;
    top: -261px;
  }
  &:nth-child(4){
    z-index: 9;
    left: -353px;
    top: -270px;
  }
  &:nth-child(5){
    z-index: 10;
    left: 1161px;
    top: 292px;
  }
  &:nth-child(6){
    z-index: 11;
    left: 125px;
    top: 91px;
  }
  &:nth-child(7){
    z-index: 12;
    left: -226px;
    top: 591px;
  }
  &:nth-child(8){
    z-index: 13;
    left: 1403px;
    top: 792px;
  }
  &:nth-child(9){
    z-index: 14;
    left: 667px;
    top: 598px
  }
  &:nth-child(10){
    z-index: 15;
    left: 362px;
    top: -147px;
  }
}

.page-content{
  background: #fff none repeat scroll 0 0;
  padding: 70px 0;
  position: relative;
  z-index: 1;
  &:extend(.block);

  .we-build{
    &:extend(.blockin);
    margin-left: -10%;
    margin-top: 80px;
    text-align: center;
    width: 120%;

    .anim-sprt{
      background: transparent url("../images/sprt.jpg") no-repeat scroll center center;
      height: 730px;
      left: 50%;
      margin-left: -50px;
      position: absolute;
      text-align: center;
      width: 100px;
      .cont
      {
        color:blue;
      }
      .line{
        color:red;
      }
    }
    h3{
      font-size: 60px;
      font-weight: 700;
      margin-top: 35px;
      text-transform: uppercase;
    }
    p{
      display: table;
      font-size: 27px;
      font-weight: 500;
      margin: 14px auto 24px;
      max-width: 1150px;
    }
    a{
      color: #008cb1;
      font-size: 28px;
      font-weight: 500;
      i{
        border: 1px solid;
        border-radius: 20px;
        font-size: 17px;
        height: 30px;
        margin-left: 6px;
        padding: 6px 9px;
        transform: translate(0px, -3px);
        width: 30px;
      }
    }
    .build-info{
      padding: 0 60px;
      text-align: center;
      &.left{
        float:left;
      }
      &.right{
        float:right;
      }
      img{
        width: 480px;
      }

    }
  }
}
.head2{
  font-size: 56px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}
.technologies{
  background: transparent url("../images/technologies-big.svg") no-repeat scroll center 0;
  height: 2270px;
  margin-top: 70px;
  position: relative;
  .technologies-info{
    position: absolute;
    width: 48%;
    &:nth-child(n){
      right: 0;
      top: 420px;
    }
    &:nth-child(2n){
      right: 560px;
      top: 1010px;
    }
    &:nth-child(3n){
      right: 0;
      top: 1510px;
    }
    h4{
      font-size: 45px;
      font-weight: 600;
      margin-bottom: 15px;
      text-transform: uppercase;
    }
    p{
      font-size: 20px;
      font-weight: 500;
    }
  }
  &.technologies1{
    background: transparent url("../images/integrations-big.svg") no-repeat scroll right 0;
    height: 630px;
    .technologies-info1{
      left: 0;
      top: 53px;
      width: 55%;
    }
  }
}

.detailed-info{
  background: #f4f4f4 none repeat scroll 0 0;
  clear: both;
  padding: 80px 0;
  position: relative;
  z-index: 1;
  .detailed-item{
    -webkit-box-shadow: 1px 0 0 #c3c3c3;
    -moz-box-shadow: 1px 0 0 #c3c3c3;
    box-shadow: 1px 0 0 #c3c3c3;
    float: left;
    padding: 0 42px;
    width: 25%;
    &:last-child{
      box-shadow: 0 0 0 #c3c3c3;
    }
    img{
      margin: 0 0 0 -7px;
    }
    h3{
      font-size: 40px;
      font-weight: 600;
      margin: 8px 0 -1px;
    }
    span{
      color: #aaaaaa;
      float: left;
      font-size: 22px;
      font-weight: 600;
      line-height: 1.2;
      padding: 0 2px;
      text-transform: capitalize;
      width: 100%;
    }
  }
}
.portfolio{
  display: table;
  margin: 0 auto;
  max-width: 1500px;
  .head2{
    margin-bottom:40px;
  }
  .portfolio-item{
    float: left;
    padding: 14px;
    &.small-width{
      width: 25%;
    }
    &.large-with{
      width: 50%;
    }
    .portfolio-item-content{
      background: #ebebeb none repeat scroll 0 0;
      height: 320px;
      overflow: hidden;
      position: relative;
      cursor: pointer;
      &::before{
        background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0;
        content: "";
        height: 100%;
        position: absolute;
        width: 100%;
        z-index: 1;
        &:extend(.transition);
      }
      img{
        width:100%;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        &:extend(.transition);
      }
      &:hover img{
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
      }
      &:hover::before{
        background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
      }
    }
    .abs-box{
      bottom: 0;
      padding: 17px;
      position: absolute;
      width: 100%;
      z-index: 2;
      h3{
        color: #fff;
        font-size: 32px;
        font-weight: 500;
        margin: 0 0 5px;
      }
      span{
        color: #f3f3f3;
        display: inline-block;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 5px;
        width: 100%;
      }
      a{
        color: #00c0e5;
        font-size: 18px;
      }
    }
  }
}
.testimonial {
  background: transparent url("../images/bg1.jpg") no-repeat scroll 0 0 / cover ;
  clear: both;
  height: 800px;
  position: relative;
  z-index: 1;
  &:before{
    background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
    content: "";
    height: 100%;
    position: absolute;
    width: 100%;
  }
}

footer{
  background: #fff none repeat scroll 0 0;
  bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 0;
  .footer{
    float: left;
    padding: 60px 0;
    width: 100%;
    h3{
      font-size: 42px;
      font-weight: 600;
      line-height: 1;
      margin: 8px 0;
      text-transform: uppercase;
    }
    h4{
      border-bottom: 1px solid #aaa;
      font-size: 17px;
      padding-bottom: 10px;
    }
    p{
      font-size: 15px;
      margin: 2px 0;
      color:#898989;
    }
    ul{
      li{
        a,span{
          display: inline-block;
          font-size: 15px;
          color:#898989;
          margin-bottom: 0;
          text-transform: capitalize;
          &:hover{
            color:#333;
          }
        }
        span{
          margin-top: 3px;
        }
      }
    }
  }
}





@media (min-width: 0px) {
	
}
@media only screen and (min-width: 0px) and (max-width: 767px) {

}
@media only screen and (min-width: 0px) and (max-width: 480px) {
	
}
@media (min-width: 768px) {

}
@media (min-width: 992px) {	
	
}
@media (min-width: 1200px) {


}




