





*{
  outline:none !important;
}
body
{
  margin:0;
  padding:0 0 0 50px;
  outline:none;
  overflow-x:hidden ;
  font-family: Brandon Grotesque;
}


// Core variables and mixins
@import "variables.less";
@import "mixins.less";


a
{
  color:#333;
  text-decoration:none

}
a:hover,a:focus
{
  text-decoration:none;
}
ul{
  margin:0;
  padding:0;
  list-style-type:none;
}
.collapse
{
  padding:0px;
}
.slider-area {
  bottom: 0;
  float: left;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  transition: left 0.4s ease 0s,top 0.4s ease 0s;

}



header{
  padding: 50px;
  position:absolute;
  width: 100%;
  z-index: 9999;
  .logo{
    width: 145px;
    float:left;
    img{
      width:100%;
    }
  }
}





.menu-bar{
  background: rgba(38, 50, 56, 0.95) none repeat scroll 0 0;
  display: flex;
  height: 100%;
  left: -415px;
  position: fixed;
  transition: all 0.5s ease 0s;
  width: 465px;
  z-index: 9999;
  overflow: hidden;
  &.active1{
   left:0;
  }
  &:after{
    background: #1e2a30 none repeat scroll 0 0;
    content: "";
    height: 100%;
    position: fixed;
    width: 50px;
    left:0;
    z-index: -1;
  }
  ul{
    align-self: center;
    margin: 11px 0;
    padding: 0 50px;
    transform: translate(300px, 0px);
    &:extend(.blockin);
    &:extend(.transition);
    li{
      text-align: right;
      &:extend(block);
      a{
        color: #90a4ae;
        display: inline-block;
        font-family: "Lucida Console";
        font-size: 24px;
        font-weight: 500;
        margin: 0 0 7px;
        position: relative;
        text-transform: capitalize;
        .nav-link-mask {
          display: inline-block;
          height: 100%;
          left: 0;
          overflow: hidden;
          position: absolute;
          top: 0;
          transform: translate3d(-100%, 0px, 0px);
          transition: transform 0.4s cubic-bezier(0.19, 1, 0.22, 1) 0s;
          width: 100%;
          .nav-link-mask-text {
            color: #ddd;
            left: 0;
            position: absolute;
            top: 0;
            transform: translate3d(100%, 0px, 0px);
            transition: transform 0.4s cubic-bezier(0.19, 1, 0.22, 1) 0s;
          }
        }
        &:hover .nav-link-mask,
        &:focus .nav-link-mask {
          transform: translate3d(0px, 0px, 0px);
        }
        &:hover .nav-link-mask-text,
        &:focus .nav-link-mask-text {
          transform: translate3d(0px, 0px, 0px);
        }
      }
      &.active a .nav-link-mask,
      &.active a .nav-link-mask-text{
        transform: translate3d(0px, 0px, 0px);
      }

    }
  }
  .toggle-btn{
    background: #171e21 none repeat scroll 0 0;
    cursor: pointer;
    height: 53px;
    position: absolute;
    right: -33px;
    top: 34px;
    transform: rotate(90deg);
    width: 120px;
    i{
      color: #afafaf;
      float: left;
      font-size: 18px;
      margin: 17px 5px 17px 22px;
      transform: rotate(90deg);
    }
    span{
      color: #fff;
      display: inline-block;
      font-family: arial;
      font-size: 15px;
      margin: 15px 0 0;
      text-transform: uppercase;
    }
  }
  .topbtn{
    bottom: 0;
    color: #90a4ae;
    cursor: pointer;
    font-family: arial;
    font-weight: bold;
    padding-bottom: 11px;
    position: absolute;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    width: 50px;
    i{
      font-size: 19px;
      margin-bottom: 8px
    }
    &:hover,&:hover i{
       color:#fff;
     }
  }
}
.social-icons{
  bottom: 0;
  left: 0;
  padding: 12px 50px;
  position: absolute;
  text-align: right;
  width: 100%;

  a{
    color: #a0b4be;
    display: inline-block;
    font-size: 25px;
    text-align: center;
    width: 36px;
    &:hover{
      color:#fff;
    }
  }
}
.main-slider {
  height: 100%;
  overflow: hidden;
  width: 100%;
  background:#aaa;
  img
  {
    width:100%;
  }
  .bx-controls-direction,.bx-controls-auto
  {
    &:extend(.hide);
  }
  .bx-viewport {
    border: medium none;
    box-shadow: 0 0 0;
    left: 0;
  }
  .bx-pager {
    bottom: 0;
    display: table;
    left: auto;
    right: 0;
    top: 38%;
    width: 3% !important;
    position:relative;

    .bx-pager-item {
      border-radius: 20px;
      float: left;
      margin: 0 21px 18px;
      position: relative;
      a {
        border-radius: 20px;
        height: 6px;
        margin: 6px;
        width: 6px;
        background:#fff;
        &.active::before {
          border: 1px solid #fff;
          border-radius: 20px;
          bottom: 0;
          content: "";
          left: 0;
          position: absolute;
          right: 0;
          top: 0;
        }
        &:hover,.active
        {
          background: #fff none repeat scroll 0 0;
        }
      }
    }
  }
  .bx-wrapper .bx-viewport {
    background: #52504f none repeat scroll 0 0;
  }
}
.slider-area .bx-controls {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 4%;
  z-index: 9;
}


.portfolio-slider {
  background: #9f9f9f;
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.bg-images{
  background: #9f9f9f url("../images/img/Bg-screnshot.jpg") repeat scroll -5px 0;
  position:absolute;
  height:100%;
  width:100%;
}


.bg-images img {
  background-color: #57585A;
  box-shadow: 0 0 7px #000;
  position: absolute;
  width: 700px;
  &:nth-child(1){
    z-index: 6;
    left: 1496px;
    top: -213px;
  }
  &:nth-child(2){
    z-index: 7;
    left: 975px;
    top: -270px;
  }
  &:nth-child(3){
    z-index: 8;
    left: 306px;
    top: -261px;
  }
  &:nth-child(4){
    z-index: 9;
    left: -353px;
    top: -270px;
  }
  &:nth-child(5){
    z-index: 10;
    left: 1161px;
    top: 292px;
  }
  &:nth-child(6){
    z-index: 11;
    left: 125px;
    top: 91px;
  }
  &:nth-child(7){
    z-index: 12;
    left: -226px;
    top: 591px;
  }
  &:nth-child(8){
    z-index: 13;
    left: 1403px;
    top: 792px;
  }
  &:nth-child(9){
    z-index: 14;
    left: 667px;
    top: 598px
  }
  &:nth-child(10){
    z-index: 15;
    left: 362px;
    top: -147px;
  }
}

.page-content{
  background: #fff none repeat scroll 0 0;
  padding: 70px 0;
  position: relative;
  z-index: 1;
  &:extend(.block);

  .we-build{
    &:extend(.blockin);
    margin-left: -10%;
    margin-top: 80px;
    text-align: center;
    width: 120%;

    .anim-sprt{
      background: transparent url("../images/sprt.jpg") no-repeat scroll center center;
      height: 730px;
      left: 50%;
      margin-left: -50px;
      position: absolute;
      text-align: center;
      width: 100px;
      .cont
      {
        color:blue;
      }
      .line{
        color:red;
      }
    }
    h3{
      font-size: 60px;
      font-weight: 700;
      margin-top: 35px;
      text-transform: uppercase;
    }
    p{
      display: table;
      font-size: 27px;
      font-weight: 500;
      margin: 14px auto 24px;
      max-width: 1150px;
    }
    a{
      color: #008cb1;
      font-size: 28px;
      font-weight: 500;
      i{
        border: 1px solid;
        border-radius: 20px;
        font-size: 17px;
        height: 30px;
        margin-left: 6px;
        padding: 6px 9px;
        transform: translate(0px, -3px);
        width: 30px;
      }
    }
    .build-info{
      padding: 0 60px;
      text-align: center;
      &.left{
        float:left;
      }
      &.right{
        float:right;
      }
      img{
        width: 480px;
      }

    }
  }
}
.head2{
  font-size: 56px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}
.technologies{
  background: transparent url("../images/technologies-big.svg") no-repeat scroll center 0;
  height: 2270px;
  margin-top: 70px;
  position: relative;
  .technologies-info{
    position: absolute;
    width: 48%;
    &:nth-child(n){
      right: 0;
      top: 420px;
    }
    &:nth-child(2n){
      right: 560px;
      top: 1010px;
    }
    &:nth-child(3n){
      right: 0;
      top: 1510px;
    }
    h4{
      font-size: 45px;
      font-weight: 600;
      margin-bottom: 15px;
      text-transform: uppercase;
    }
    p{
      font-size: 20px;
      font-weight: 500;
    }
  }
  &.technologies1{
    background: transparent url("../images/integrations-big.svg") no-repeat scroll right 0;
    height: 630px;
    .technologies-info1{
      left: 0;
      top: 53px;
      width: 55%;
    }
  }
}

.detailed-info{
  background: #f4f4f4 none repeat scroll 0 0;
  clear: both;
  padding: 80px 0;
  position: relative;
  z-index: 1;
  .detailed-item{
    -webkit-box-shadow: 1px 0 0 #c3c3c3;
    -moz-box-shadow: 1px 0 0 #c3c3c3;
    box-shadow: 1px 0 0 #c3c3c3;
    float: left;
    padding: 0 42px;
    width: 25%;
    &:last-child{
      box-shadow: 0 0 0 #c3c3c3;
    }
    img{
      margin: 0 0 0 -7px;
    }
    h3{
      font-size: 40px;
      font-weight: 600;
      margin: 8px 0 -1px;
    }
    span{
      color: #aaaaaa;
      float: left;
      font-size: 22px;
      font-weight: 600;
      line-height: 1.2;
      padding: 0 2px;
      text-transform: capitalize;
      width: 100%;
    }
  }
}
.portfolio{
  display: table;
  margin: 0 auto;
  max-width: 1500px;
  .head2{
    margin-bottom:40px;
  }
  .portfolio-item{
    float: left;
    padding: 14px;
    &.small-width{
      width: 25%;
    }
    &.large-with{
      width: 50%;
    }
    .portfolio-item-content{
      background: #ebebeb none repeat scroll 0 0;
      height: 320px;
      overflow: hidden;
      position: relative;
      cursor: pointer;
      &::before{
        background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0;
        content: "";
        height: 100%;
        position: absolute;
        width: 100%;
        z-index: 1;
        &:extend(.transition);
      }
      img{
        width:100%;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        &:extend(.transition);
      }
      &:hover img{
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
      }
      &:hover::before{
        background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
      }
    }
    .abs-box{
      bottom: 0;
      padding: 17px;
      position: absolute;
      width: 100%;
      z-index: 2;
      h3{
        color: #fff;
        font-size: 32px;
        font-weight: 500;
        margin: 0 0 5px;
      }
      span{
        color: #f3f3f3;
        display: inline-block;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 5px;
        width: 100%;
      }
      a{
        color: #00c0e5;
        font-size: 18px;
      }
    }
  }
}
.work-flow {
  background: #1c1b20 none no-repeat scroll 0 0 / cover ;
  clear: both;
  padding: 100px 14px;
  position: relative;
  text-align: center;
  z-index: 1;
  img{
    width: 100px;
  }
  h4{
    color: #fff;
    font-size: 25px;
    margin: 35px 0 30px;
  }
  p{
    color: #fff;
    display: table;
    font-size: 23px;
    margin: 0 auto 29px;
    max-width: 839px;
  }
  a{
    background: #00c0e5 none repeat scroll 0 0;
    border-radius: 50px;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    margin-top: 15px;
    padding: 12px 57px;
    &:extend(.transition);
    &:hover{
      background: #00799B;
    }
  }
}

.contact-info{
  display: inline-block;
  padding: 30px 0;
  text-align: center;
  width: 100%;
  img{
    width: 100px;
  }
  span{
    color: #00c0e5;
    display: inline-block;
    font-weight: 600;
    margin: 20px 0 0;
    width: 100%;
  }
  h3{
    font-size: 42px;
    font-weight: 500;
    margin: 18px 0 24px;
  }
  h4{
    color: #00c0e5;
    font-size: 27px;
    margin: 0 0 20px;
  }
  p{
    font-family: arial;
    font-size: 19px;
    line-height: 1.6;
  }
}

.contact-form{
  background: #f4f4f4 none repeat scroll 0 0;
  input[type="text"],input[type="email"],select{
    border: 2px solid #cacaca;
    border-radius: 0;
    box-shadow: 0 0 0;
    height: 44px;
  }
  label{
    font-family: arial;
    font-size: 18px;
    margin-bottom: 12px;
  }
  textarea{
    border: 2px solid #cacaca;
    border-radius: 0;
    box-shadow: 0 0 0;
    height: 170px;
  }
  .form-group {
    margin-bottom: 45px;
  }
  span{
    display: inline-block;
    font-size: 19px;
    font-weight: 500;
    margin-top: 5px;
  }
  .checkbox{
    label{
      font-size: 17px;
      margin-bottom: 11px;
      width: 100%;
    }
  }
  select{
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    background: #fff url("../images/down.png") no-repeat scroll right center content-box border-box;
    font-weight: bold;
    padding-right: 9px;
  }
  button{
    &:extend(.work-flow a all);
    margin-top: 0px;
    &:hover{
      color:#fff;
    }
  }
}
.portfolio-list{
  border: 1px solid #dadada;
  &:extend(.block);

  .portlist-item{
    background: transparent none repeat scroll 0 0;
    border-bottom: 1px solid #dadada;
    display: none;
    float: left;
    overflow: hidden;
    padding: 15px 0;
    width: 100%;
    p{
      font-family: arial;
      font-size: 17px;
      margin: 0;
      padding: 8px 20px;
      position: relative;
      text-transform: capitalize;
      span{
        position: absolute;
        right: 210px;
      }
      a{
        background: #00c0e5 none repeat scroll 0 0;
        border-radius: 2px;
        color: #fff;
        display: inline;
        float: right;
        margin-top: -5px;
        padding: 6px 20px
      }
    }
  }
}
#filters{
  margin: 0 0 30px;
  text-align: center;
  li{
    display: inline-block;
    float: none;
    font-family: arial;
    font-size: 15px;
    font-weight: bold;
    span.active{
      background:#00C0E5;
    }
  }
}
.h2{
  font-size: 34px;
  font-weight: 500;
  margin-bottom: 28px;
  text-align: center;
}

//subpage css code

.page-header-info{
  display: flex;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}
.full-wind{
  width:100%;
  padding:0 50px;
}
.page-header-content{
  align-self: center;
  margin: 0 auto;
  h2{
    color: #fff;
    font-size: 50px;
    font-weight: 300;
    margin: 0 0 50px;
    text-align: center;
    text-transform: uppercase;
    b{
      display: inline-block;
      font-size: 56px;
      font-weight: 400;
      margin: 8px 0;
    }
  }
  .head-3{
    color: #fff;
    font-size: 63px;
    font-weight: 500;
    margin: 0;
  }
  span{
    color: #fff;
    font-size: 54px;
    font-weight: 400;
    line-height: 1.1;
  }
  p{
    color: #c5c5c5;
    font-size: 37px;
  }
  ul{
    display: inline-block;
    li{
      color: #fff;
      display: inline-block;
      min-width: 400px;
      padding: 20px 40px;
      text-align: center;
      span{
        font-size: 70px;
        font-weight: 500;
        line-height: 1;
      }
      p{
        color: #cccccc;
        font-size: 21px;
        font-weight: 400;
        text-transform: uppercase;
      }
    }
  }
}
.about-content{
  display: inline-block;
  margin: 0;
  text-align: center;
  h3{
    font-size: 32px;
    margin-bottom: 16px;
    text-align: center;
  }
  p{
    color: #797979;
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 1px;
  }
  img
  {
    max-width:100%;
    margin:60px auto 0;
  }
}



.why-choose{
  background: #5a5a5a url("../images/why-choose.jpg") no-repeat scroll 0 0 / cover ;
  clear: both;
  padding: 40px 0;
  text-align: center;
  span{
    color: #eb8812;
    font-size: 22px;
  }
  h2{
    color: #fff;
    font-size: 50px;
    font-weight: 400;
    margin: 10px 0 30px;
  }
  img{
    display: inline-block;
    margin: 20px 0 5px;
    width: 72px;
  }
  h4{
    color: #fff;
    font-size: 30px;
    font-weight: 400;
  }
  p{
    color: #fff;
    font-size: 16px;
    margin: 20px auto 30px;
    max-width: 660px;
  }
}


.why-choose .bx-wrapper .bx-pager {
  bottom: -60px;
  text-align: center !important;
  width: 100% !important;
}

.why-choose .bx-wrapper .bx-pager a {
  border: 1px solid #aaa;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  margin: 0 10px;
  &:extend(.transition);
  padding: 6px 15px;
  &:hover{
    background-color: rgba(44, 189, 228, 0.2);
  }
}

.why-choose .bx-wrapper .bx-pager a:hover,
.why-choose .bx-wrapper .bx-pager a.active {
  background: rgba(44, 189, 228, 0.4) none repeat scroll 0 0;;
}

.why-choose .bx-wrapper {
  margin-bottom: 120px;
}



.our-clients{
  background: #fff none repeat scroll 0 0;
  clear: both;
  padding: 30px 0;
  text-align: center;
  h2{
    font-size: 45px;
    font-weight: 500;
  }
  p{
    font-size: 22px;
  }
  ul{
    display: inline-block;
    margin: 30px 0;
    width: 100%;
    li{
      float: left;
      padding: 30px 10px;
      width: 20%;
      img{
        max-width: 100%;
      }
    }
  }
}
.services-list{
  float: left;
  margin: 0 -12px;
  .services-item{
    border: 12px solid #fff;
    float: left;
    overflow: hidden;
    position: relative;
    width: 33%;

    &:before{
      background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
      bottom: 0;
      content: "";
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 2;
    }
    img{
      width:100%;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform:  scale(1);
      transform: scale(1);
      &:extend(.transition);
    }
    &:hover img{
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform:  scale(1.1);
      transform: scale(1.1);
    }
    span{
      color: #fff;
      font-size: 36px;
      font-weight: 500;
      left: 0;
      position: absolute;
      right: 0;
      text-align: center;
      top: 50px;
      z-index: 3;
    }
  }
}
.gray-box{
  background: #eeebeb none repeat scroll 0 0;
  clear: both;
  padding: 20px 0;
  position: relative;
  text-align: center;
}
.blk-hd{
  font-family: Avenir LT Std,arial;
  font-size: 40px;
}
.simple-pg{
  color: #000000;
  font-family: Avenir LT Std,arial;
  font-size: 22px;
  margin: 15px auto;
  max-width: 880px;
}
.ser-detail-item{
  background: #f2f2f2 none repeat scroll 0 0;
  height: 720px;
  overflow: hidden;
  position: relative;
   img{
     width:100%;
     position:absolute;
   }
  .ser-info-box{
    background: transparent url("../images/wd-line-1.png") no-repeat scroll 60px 142px;
    padding: 140px 0 140px 10%;
    position: relative;
    width: 50%;
    &.left{
      margin-left: 0;
    }
    &.right{
      margin-left: 50%;
    }

    span{
      color: #999999;
      font-size: 18px;
      font-weight: 600;
      line-height: 28px;
      text-transform: uppercase;
    }
    h3{
      color: #2066ab;
      font-size: 36px;
      font-weight: 600;
      letter-spacing: normal;
      line-height: 44px;
      margin: 0 0 20px;
      text-transform: uppercase;
    }
    p{
      color: #0f0f0f;
      font-size: 22px;
      font-weight: 600;
    }
    &.color-b1{
      span{
        color: #999999;
      }
      h3{
        color: #2066ab;
      }
      p{
        color: #0f0f0f;
      }
    }
    &.color-b2{
      span{
        color: #A9A9A9;
      }
      h3{
        color: #C92127;
      }
      p{
        color: #0f0f0f;
      }
    }
    &.color-b3{
      span{
        color: #8A8B8F;
      }
      h3{
        color: #C9C92D;
      }
      p{
        color: #fff;
      }
    }
    &.color-b4{
      span{
        color: #AAAAAA;
      }
      h3{
        color: #C7187D;
      }
      p{
        color: #0f0f0f;
      }
    }
    &.color-b5{
      span{
        color: #A8A6A4;
      }
      h3{
        color: #76AC32;
      }
      p{
        color: #fff;
      }
    }
  }
}
.casestudies{
  padding: 60px 0;
  text-align: center;
  p{
    color: #808080;
    font-family: arial;
    font-size: 26px;
    margin: 0 auto 40px;
    max-width: 750px;
  }
  a{
    border: 2px solid;
    color: #00C0E5;
    font-size: 17px;
    font-weight: 700;
    padding: 10px 25px;
    text-transform: uppercase;
    &:extend(.transition);
    &:hover{
      background: #00C0E5;
      color:#fff;
    }
  }
}
.cs-topbox{
  margin-top: -520px;
  text-align: center;
  img{
    width: 86%;
    &.ft-logo{
      margin-bottom: 20px;
      width: 230px;
    }
  }
  .links{
    margin-bottom: 32px;
    padding: 15px 0;
    a{
      border-right: 2px solid;
      color: #d0cfcf;
      display: inline-block;
      font-size: 37px;
      font-weight: 500;
      line-height: 0.9;
      margin-right: -4px;
      padding: 0 30px;
      &:hover{
        color:#fff;
      }
      &:last-child{
        border:none;
      }
    }
  }
}

.cs-info{
  background: #eaeceb none repeat scroll 0 0;
  display: inline-block;
  margin-top: 70px;
  margin-bottom: -70px;
  text-align: center;
  width: 100%;
  div{
    display: table;
    margin: 0 auto;
    max-width: 1520px;
    padding: 60px 20px;
    position: relative;
    width: 100%;
    &:before{
      background: transparent none repeat scroll 0 0;
      border-color: #eaeceb transparent;
      border-style: solid solid none;
      border-width: 30px 40px;
      content: "";
      margin-left: -30px;
      position: absolute;
      top: 100%;
    }
    h3{
      color: #131313;
      font-size: 48px;
      font-weight: 500;
      margin-bottom: 22px;
    }
    p{
      color: #353030;
      font-family: Avenir LT Std;
      font-size: 18px;
      margin-bottom: 20px;
    }
    h4{
      color: #a4440f;
      font-size: 30px;
    }
    span{
      color: #383635;
      display: inline-block;
      font-size: 20px;
      font-weight: 600;
      margin: 11px 0;
    }
    h6{
      font-size: 33px;
      font-weight: 400;
      margin-bottom: 0;
      margin-top: 38px;
    }
  }
  img{
    width:100%;
  }
}






footer{
  background: #fff none repeat scroll 0 0;
  bottom: 0;
  position: fixed;
  width: 100%;
  z-index: -1;
  .footer{
    float: left;
    padding: 40px 0 60px;
    width: 100%;
    h3{
      font-size: 42px;
      font-weight: 600;
      line-height: 1;
      margin: 8px 0;
      text-transform: uppercase;
    }
    h4{
      border-bottom: 1px solid #aaa;
      font-size: 17px;
      padding-bottom: 10px;
    }
    p{
      font-size: 15px;
      margin: 2px 0;
      color:#898989;
    }
    ul{
      li{
        a,span{
          display: inline-block;
          font-size: 15px;
          color:#898989;
          margin-bottom: 0;
          text-transform: capitalize;
          &:hover{
            color:#333;
          }
        }
        span{
          margin-top: 3px;
        }
      }
    }
  }
}
.proget-pic{
  margin: 0;
  overflow: hidden;
  padding: 420px 72px 180px;
  position: relative;
  .pic-item{
    display: flex;
    height: 270px;
    position: relative;
    span{
      align-self: center;
      background: #fff none repeat scroll 0 0;
      border-left: 4px solid #2cbde4;
      display: inline-block;
      font-size: 26px;
      font-weight: 600;
      line-height: 1.1;
      padding-left: 21px;
      padding-right: 24px;
      text-transform: uppercase;
      z-index: 99;
      &:after{
        background: #000 none repeat scroll 0 0 padding-box;
        border: 5px solid rgba(0, 0, 0, 0.4);
        border-radius: 22px;
        content: "";
        height: 32px;
        margin-top: -2px;
        position: absolute;
        right: 449px;
        width: 32px;
      }
      &:before{
        background: rgba(0, 0, 0, 0.18) none repeat scroll 0 0;
        content: "";
        height: 2px;
        margin-top: -1px;
        position: absolute;
        right: 460px;
        top: 50%;
        width: 60%;
        z-index: -1;
      }
    }
    &:last-child {
      .rotate-box{
        &:after {
          height: 96%;
        }
      }
    }
    .rotate-box{
      height: 520px;
      position: absolute;
      right: -469px;
      top: -289px;
      transform: rotate(-25deg) rotateX(22deg) skewX(30deg) translate(0, 0px);
      width: 1100px;
      &:before{
        background: #fff none repeat scroll 0 0;
        content: "";
        height: 26px;
        left: -2px;
        position: absolute;
        top: -9px;
        transform: rotate(45deg);
        width: 7px;
        z-index: 999;
      }
      &:after{
        background: #f1f1f1 none repeat scroll 0 0;
        box-shadow: 0 0 22px #e4e4e4;
        content: "";
        height: 32.1%;
        left: -55px;
        position: absolute;
        top: 80px;
        width: 100%;
        z-index: -10;
      }
      .rotate-box-img{
        height: 100%;
        left: 0;
        overflow: hidden;
        position: absolute;
        top: 0;
        &:before{
          border-top: 1px solid rgba(0, 0, 0, 0.1);
          bottom: -1px;
          box-shadow: 10px -10px 0 rgba(0, 0, 0, 0.46) inset;
          content: "";
          height: 100%;
          position: absolute;
          width: 100%;
        }

        img{
          color:red;
        }
      }
    }
  }
}


.serv-page{
  display: table;
  margin: -60px auto;
  max-width: 1920px;
  width: 100%;
  .serv-item{
    border-bottom: 2px solid #e9e9e9;
    display: flex;
    padding: 20px 0;
    &:last-child{
      border-bottom:0 none;
    }
    &:nth-child(2n){
     .serv-item-info{
       div{
         max-width: 590px;
         width: 100%;
         float:right;
       }
     }
      .serv-item-img{
        img{
          position: absolute;
          left: 60px;
          right:inherit;
        }
      }
    }
    &:extend(.block);
    .serv-item-img{
      align-self: center;
      float: left;
      height: 630px;
      padding: 0;
      position: relative;
      width: 50%;
      img{
        position: absolute;
        right: 60px;
      }
    }
    .serv-item-info{
      align-self: center;
      float: left;
      padding: 0 30px;
      width: 50%;
      div{
        max-width: 590px;
        width: 100%;
        float:left;
        h3{
          color: #202020;
          font-size: 43px;
          font-weight: 500;
          margin: 0 0 6px;
          text-transform: uppercase;
         b{
           font-weight: 600;
         }
        }
        p{
          color: #7c7c7c;
          font-family: arial;
          font-size: 18px;
          line-height: 1.6;
          margin: 15px 0;
        }
      }
    }
  }
}


.padding0{
  padding:0;
}

.careers{
  position:relative;
  .careers-head{
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #dfdfdf;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 10;
    span{
      display: inline-block;
      font-size: 23px;
      font-weight: 500;
      padding: 12px 42px;
      cursor: pointer;
      &.active{
        box-shadow: 0 -1px 0 #2CBDE4 inset;
      }
    }
  }
  .careers-body{
    padding-top: 100px;
    &:extend(.block);
    .careers-body-item{
      border-bottom: 1px solid #d1f1f1;
      min-height: 600px;
      padding: 40px 0;
      .benefits-item{
        margin-bottom: 14px;
        padding: 14px 20px 14px 73px;
        position: relative;
        img{
          left: 0;
          position: absolute;
          width: initial;
        }
        h4{
          color: #505050;
          font-size: 25px;
          font-weight: 600;
        }
        p{
          font-size: 16px;
        }
      }
      h3.left-h3l{
        color: #000;
        font-size: 36px;
        font-weight: 500;
      }
      p{
        color: #6b6b6b;
        font-family: arial;
        font-size: 16px;
        line-height: 1.7;
        margin-bottom: 25px;
        b{
          color:#333;
        }
      }
      img{
        width:100%;
      }
    }
  }
}
.openings{
  position: relative;
  &:extend(.block);
  .open-left{
    float: left;
    padding: 14px;
    width: 28%;
    a{
      border-bottom: 1px solid #e7e7e7;
      cursor: pointer;
      display: inline-block;
      font-family: arial;
      font-size: 17px;
      padding: 11px 0;
      text-align: right;
      width: 100%;
      &:extend(.transition);
      &:hover,&.active{
        color:#0899c0;
      }
    }
  }
  .open-right{
    float: left;
    padding: 15px;
    position: relative;
    width: 72%;
    &>div{
      display:none;
    }
    img{
      color:red;
    }
    .apply{
      background: #e7e7e7 none repeat scroll 0 0;
      bottom: 0;
      padding: 30px 20px;
      position: absolute;
      right: 0;
      text-align: center;
      width: 370px;
      h4{
        font-size: 25px;
        font-weight: 700;
      }
      p{
        font-size: 15px;
        line-height: 1.4;
        margin-bottom: 12px;
      }
      a{
        background: #2cbde4 none repeat scroll 0 0;
        color: #fff;
        display: inline-block;
        font-size: 18px;
        font-weight: 500;
        margin: 5px auto 0;
        padding: 5px 36px;
        &:extend(.transition);
        &:hover{
          background:#1AABD2;
        }
      }
    }
  }
}

























@media (min-width: 0px) {

}
@media only screen and (min-width: 0px) and (max-width: 767px) {

}
@media only screen and (min-width: 0px) and (max-width: 480px) {

}
@media (min-width: 768px) {

}
@media (min-width: 992px) {

}
@media (min-width: 1200px) {


}




